# /docs
/.env

/backend/node_modules
/backend/.env
/backend/.env.local
/backend/.env.prod
/backend/.env.development
/backend/.env.example
/backend/dist
/backend/uploads

/frontend/node_modules
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.example
/frontend/.next/

/prompts
/skills